.calendar{
    padding: 30px 50px 30px 50px; 
    color: #273746;
}

.calendar h2{
    color:#FFBE33;
    margin-bottom: 50px;
}

.search-inner{
    display: block;    
}

.calendar .input-text{
    width:100%;
    height: 30px;
    font-style: italic;
}

.dropdown{
    margin-bottom:20px;
    cursor:default;
}

.col-sm-5{
    font-style: italic;
}

.calendar .select-text{
    width:330px;
    height: 30px;
}

.form-control{
    width:400px;
    height: 30px;
}

.calendar button{
    border: 1px solid;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    height:40px;
    width: 100px;
    padding: 10px 10px 10px 10px; 
}

.search-calendar{
    display: inline-block;
}

.search{
    margin-left: 10px;
}

.results{
    margin-top: 50px;
    display: block;
}

.datas{
   border: 1px solid black; 
   margin-bottom: 30px;
   background-color: white;
}

.datas:hover{
    transform: scale(1.01);
}

img{
    width: 20px;
}

.data{
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
}

.data-img{
    display:block;
    margin-bottom: 4px;
}

.data-text{
    display:block;
    margin-bottom: 16px;
}

.data-date{
    font-weight: bold;
    font-style: italic;
    display:block;
}

.data-button{
    border: 1px solid;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    height:40px;
    width: 100px;
    padding: 10px 10px 10px 10px;
    display:inline;
    position: relative;
    background: #273746;
    color: whitesmoke;
    bottom:60px;
    left:80px;
}

.data-additional{
    display:block;
    position: relative;
    bottom:40px;
    left:50px;
    margin-bottom: 30px;
    font-style: italic;
}

.empty{
    margin-top: 50px;
}